//Abstract
@import "abstracts/color";
@import "abstracts/function";
@import "abstracts/mixins";
@import "abstracts/placeholder";
@import "abstracts/variables";

//Layout
@import "layout/footer";
@import "layout/forms";
@import "layout/grid";
@import "layout/header";
@import "layout/navbar";
@import "layout/sidebar";
@import "layout/cards";
@import "layout/search";
@import "layout/box";
@import "layout/section";
@import "layout/modal";
@import "layout/slider";

//Themes

//Pages

//Base
@import "base/animation";
@import "base/base";
@import "base/typography";
@import "base/utilities";
@import "base/font";
@import "base/reset";

//Components
@import "components/badges";
@import "components/buttons";
@import "components/gallery";
@import "components/slider";
@import "components/cover";
@import "components/input";
@import "components/showcase";
@import "components/logo";
@import "components/previewer";
@import "components/icons";

//Base
@import "base/base";

//Page
@import "pages/movie.scss";
@import "pages/search.scss";
@import "pages/info.scss";
