.badge {
  --primary: var(--primary-color);
  --text: var(--primary-text-color);
  display: inline-block;
  padding: 3px 8px;
  margin-bottom: 2px;
  box-shadow: var(--elevation-5);
  text-decoration: none;
  color: #000;
  user-select: none;
  &--primary {
    display: inline-flex;
    font-size: 16px;
    background: rgba(var(--primary), 1);
    color: rgba(var(--text), 1);
    border-radius: 5px;
    font-weight: 700;
    align-items: center;

    svg {
      height: 20px;
    }
  }

  &__rated {
    font-size: 1.6rem;
    padding: 7px 15px;
    font-weight: 700;
    border-radius: 5px;

    &--g {
      background-color: rgba(var(--color-green), 1);
      color: rgba(var(--color-white), 1);
    }

    &--pg {
      background-color: rgba(var(--color-orange), 1);
      color: rgba(var(--color-white), 1);
    }

    &--pg-13 {
      background-color: rgba(var(--color-violet), 1);
      color: rgba(var(--color-white), 1);
    }

    &--r {
      background-color: rgba(var(--color-red), 1);
      color: rgba(var(--color-white), 1);
    }

    &--nc-17 {
      background-color: rgba(var(--color-blue), 1);
      color: rgba(var(--color-white), 1);
    }
  }

  &--outlined {
    border: 2px solid rgba(var(--primary), 1);
    color: rgba(var(--primary), 1);
    background: transparent !important;
  }
}
