.btn {
	font: inherit;
	cursor: pointer;
	user-select: none;
	border: none;
	outline: none;
	box-shadow: 0;
	text-decoration: none;

	&--primary {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 6rem;
		height: 5rem;
		background-color: rgba(var(--primary-color), 1);
		color: rgba(var(--primary-text-color), 1);
		text-transform: uppercase;
		font-size: 1.5rem;
		font-weight: 600;
		border-radius: 3rem;
		border: 3px solid rgba(var(--primary-color), 1);
		@include transition;
		&:hover {
			background-color: rgba(var(--primary-color), 0.7);
			border: 3px solid rgba(var(--primary-color), 0.5);
		}

		svg {
			fill: rgba(var(--primary-text-color), 1);
			margin-left: 10px;
			min-width: 25px;
			padding: 3px;
			height: 25px;

			// background: rgba(var(--secondary-color), 1);
			border-radius: 100%;
		}

		&--outlined {
			border: 3px solid rgba(var(--primary-color), 1);
			background: none;
			color: rgba(var(--primary-color), 1);

			&:hover {
				background-color: rgba(var(--primary-color), 1);
				border: 3px solid rgba(var(--primary-color), 1);

				color: rgba(var(--primary-text-color), 1);
			}
		}
	}

	&--favorite {
		display: block;
		height: 5rem;
		width: 5rem;
		border-radius: 100%;
		border: 3px solid rgba(var(--color-white), 1);
		backface-visibility: hidden;
		@include transition;
		svg {
			fill: rgba(var(--color-white), 1) !important;
			stroke-width: 5px;
		}

		&:hover {
			background-color: rgba(var(--color-red), 1);
			border: rgba(var(--color-red), 1);
			margin-top: -1px;
		}
	}

	&--more {
		display: inline-block;
		padding: 2px 30px 10px 15px;
		// padding-left: 30px;
		font-size: 1.5rem;
		// background: rgba(var(--primary-color), 1);
		color: rgba(var(--base-text-color), 1);
		text-decoration: none;
		border-bottom: 1px solid rgba(var(--base-text-color), 1);
		font-weight: 700;
		font-family: var(--font-heading);
		// letter-spacing: -1px;
		@include transition;

		span {
			position: relative;
			display: inline-block;
			font-size: 2.5rem;
			// margin-left: 4px;
			right: 0;
			bottom: -4px;
			height: 32px;
			width: 32px;
			text-align: center;
			border-radius: 100%;
			background: transparent;
			@include transition;
		}

		&:hover {
			border-color: rgba(var(--primary-color), 1);
			color: rgba(var(--primary-color), 1);
			// font-weight: 700;
			span {
				background: rgba(var(--primary-color), 1);
				color: rgba(var(--primary-text-color), 1);
				right: -15px;
			}
		}
	}

	&--peek {
		color: rgba(var(--primary-color), 0.5);
		margin-left: 3px;

		&:hover {
			text-decoration: underline;
		}
	}
}
