.btn {
  font: inherit;
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  box-shadow: 0;
  text-decoration: none;

  &--primary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 6rem;
    height: 5rem;
    background-color: rgba(var(--primary-color), 1);
    color: rgba(var(--primary-text-color), 1);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 3rem;
    border: 3px solid rgba(var(--primary-color), 1);
    box-shadow: var(--elevation-5);
    @include transition;

    @include respond(laptop) {
      height: 4.6rem;
      font-size: 1.4rem;
    }
    @include respond(tab-port) {
      height: 4.4rem;
      font-size: 1.35rem;
    }
    @include respond(mobile-lg) {
      height: 4.3rem;
      font-size: 1.2rem;
      padding: 0 5rem;
    }
    @include respond(mobile-m) {
      height: 4rem;
      padding: 0 4rem;
    }
    &:hover {
      background-color: rgba(var(--primary-color), 0.7);
      border: 3px solid rgba(var(--primary-color), 0.5);
    }

    svg {
      fill: rgba(var(--primary-text-color), 1);
      margin-left: 10px;
      min-width: 25px;
      padding: 3px;
      height: 25px;

      // background: rgba(var(--secondary-color), 1);
      border-radius: 100%;
    }

    &--outlined {
      border: 3px solid rgba(var(--primary-color), 1);
      background: none;
      color: rgba(var(--primary-color), 1);

      &:hover {
        background-color: rgba(var(--primary-color), 1);
        border: 3px solid rgba(var(--primary-color), 1);

        color: rgba(var(--primary-text-color), 1);
      }
    }
  }

  &--favorite {
    display: block;
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    border: 3px solid rgba(var(--color-white), 1);
    backface-visibility: hidden;
    @include transition;

    @include respond(laptop) {
      height: 4.6rem;
      width: 4.6rem;
    }

    @include respond(tab-port) {
      height: 4.5rem;
      width: 4.5rem;
    }

    @include respond(mobile-lg) {
      height: 4.3rem;
      width: 4.3rem;
    }
    @include respond(mobile-m) {
      height: 4rem;
      width: 4rem;
    }

    svg {
      fill: rgba(var(--color-white), 1) !important;
      stroke-width: 5px;
    }

    &:hover {
      background-color: rgba(var(--color-red), 0.5);
      border: rgba(var(--color-red), 1);
      margin-top: -1px;
    }

    &--liked {
      background-color: rgba(var(--color-red), 1);
      border: rgba(var(--color-red), 1);
    }
  }

  &--more {
    display: inline-block;
    padding: 2px 30px 10px 15px;
    font-size: 1.5rem;
    color: rgba(var(--base-text-color), 1);
    text-decoration: none;
    border-bottom: 1px solid rgba(var(--base-text-color), 1);
    font-weight: 700;
    font-family: var(--font-heading);
    @include transition;

    @include respond(mobile-lg) {
      font-size: 1.3rem;
    }

    @include respond(mobile-s) {
      font-size: 1.1rem;
    }

    span {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 2.5rem;
      // margin-left: 4px;
      right: 0;
      bottom: -4px;
      height: 32px;
      width: 32px;
      text-align: center;
      border-radius: 100%;
      background: transparent;
      @include transition;

      @include respond(mobile-lg) {
        font-size: 2.2rem;
        height: 30px;
        width: 30px;
      }

      @include respond(mobile-s) {
        height: 28px;
        width: 28px;
        font-size: 2rem;
      }
    }

    &:hover {
      border-color: rgba(var(--primary-color), 1);
      color: rgba(var(--primary-color), 1);
      // font-weight: 700;
      span {
        background: rgba(var(--primary-color), 1);
        color: rgba(var(--primary-text-color), 1);
        right: -15px;
      }
    }
  }

  &--peek {
    color: rgba(var(--primary-color), 0.8);
    margin-left: 3px;

    &:hover {
      text-decoration: underline;
    }
  }

  &--icon {
    cursor: pointer;
    svg {
      fill: rgba(var(--secondary-text-color), 0.8);
      @include transition;
    }

    &:hover {
      svg {
        fill: rgba(var(--secondary-text-color), 1);
      }
    }
  }

  &--scroll-top {
    display: block;
    position: fixed;
    bottom: 40px;
    right: 50px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    transform: scale(1);
    background-color: rgba(var(--primary-color), 1);
    z-index: 130;
    @include transition;
    @include respond(mobile-lg) {
      bottom: 30px;
      right: 30px;
      height: 55px;
      width: 55px;
    }

    @include respond(mobile-s) {
      bottom: 20px;
      right: 20px;
      height: 50px;
      width: 50px;
    }

    // * Scroll button 130
    svg {
      fill: rgba(var(--primary-text-color), 1);
      height: 60px;
    }

    &--shrink {
      transform: scale(0);
    }
  }
}
