.gallery {
  &--full {
    display: flex;
    width: 100%;
    height: 500px;
    background: rgba(var(--base-color), 1);
    overflow: hidden;

    @include respond(tab-land) {
      height: auto !important;
      min-height: auto !important;
    }
    &:hover .card--gallery {
      opacity: 0.6;

      img {
        filter: blur(1px);
      }
    }

    &:hover .card--gallery:hover {
      opacity: 1;
      img {
        filter: blur(0);
      }
    }
  }
}
