.inp {
  font: inherit;
  font-size: 16px;
  outline: none;
  &--search {
    padding: 10px 15px;
    border-bottom: 2px solid rgba(var(--secondary-text-color), 0.5);
    width: 400px;
    font-size: 18px;
    color: rgba(var(--secondary-text-color), 0.5);
    @include transition;

    &:hover {
      border-bottom: 2px solid rgba(var(--secondary-text-color), 1);
      color: rgba(var(--secondary-text-color), 1);
    }

    &:focus {
      border-bottom: 2px solid rgba(var(--primary-color), 1);
    }

    &::placeholder {
      color: inherit;
      font-weight: 400;
    }
  }
}
