.inp {
  font: inherit;
  font-size: 16px;
  outline: none;
  border: none;
  &--search {
    padding: 12px 20px;
    width: 360px;
    font-size: 16px;
    color: rgba(var(--secondary-color), 0.8);
    background: rgba(var(--secondary-text-color), 0.4);
    border-radius: 100px;
    @include transition;

    @include respond(laptop) {
      width: 320px;
      padding: 10px 20px;
    }

    @include respond(tab-land) {
      width: 100%;
    }

    @include respond(mobile-m) {
      padding: 8px 15px;
      font-size: 14px;
    }

    @include respond(mobile-s) {
      width: 100%;
      padding: 7px 12px;
      font-size: 13px;
    }

    &:hover {
      // border-bottom-color: rgba(var(--secondary-text-color), 0.8);
      background: rgba(var(--secondary-text-color), 0.5);
      color: rgba(var(--secondary-color), 0.8);
    }

    &:focus {
      // border-bottom-color: rgba(var(--primary-color), 1);
      background: rgba(var(--secondary-text-color), 0.8);
      color: rgba(var(--secondary-color), 1);
    }

    &::placeholder {
      color: inherit;
      font-weight: 500;
    }
  }
}

.select {
  display: flex;
  flex-direction: column;
  @include transition;
  select {
    border: none;
    outline: none;
    background-color: transparent;
  }
  &--primary {
    label {
      font-size: 1.2rem;
      margin-bottom: 3px;
      color: rgba(var(--secondary-text-color), 1);

      @include respond(mobile-lg) {
        font-size: 1.1rem;
        margin-bottom: 0;
      }
    }

    select {
      font-size: 1.6rem;
      color: rgba(var(--secondary-text-color), 0.8);
      padding: 8px 0;
      border-bottom: 2px solid rgba(var(--primary-color), 0.8);
      transition: inherit;

      @include respond(mobile-lg) {
        font-size: 1.5rem;
      }

      @include respond(mobile-m) {
        font-size: 1.4rem;
      }

      option {
        background-color: rgba(var(--secondary-color), 1);
        padding: 3px 5px;
      }

      &:hover,
      &:visited {
        color: rgba(var(--secondary-text-color), 1);
      }

      &:focus,
      &:active {
        color: rgba(var(--secondary-text-color), 1);
        border-bottom: 2px solid rgba(var(--primary-color), 1);
      }
    }
  }
}
