.previewer {
  &--primary {
    position: relative;
    height: 95vh;
    width: 100%;
    overflow: hidden;
    padding-top: var(--navbar-height);
    background-color: #000;

    @include respond(tab-port) {
      overflow: visible;
      height: auto;
    }

    &__cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 95vh;
      user-select: none;

      @include respond(tab-port) {
        height: 100%;
      }
      img {
        filter: blur(3px);
      }
    }
    &__content {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      position: absolute;
      top: 27%;
      width: 100%;
      z-index: 4;

      @include respond(tab-land) {
        padding: 0 1rem;
      }

      @include respond(tab-port) {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        padding-top: 3rem;
      }
    }
    &__poster {
      position: relative;
      height: 400px;
      width: 240px;
      min-width: 240px;
      border-radius: 20px;
      overflow: hidden;
      user-select: none;
      box-shadow: var(--elevation-24);
      margin-right: 30px;
      z-index: -1;

      @include respond(laptop) {
        height: 360px;
        width: 210px;
        min-width: 210px;
      }
      @include respond(tab-land) {
        height: 340px;
        width: 190px;
        min-width: 190px;
      }

      @include respond(tab-port) {
        margin-bottom: 1rem;
        height: 320px;
        width: 190px;
        min-width: 190px;
        margin-right: 0;
      }

      @include respond(mobile-lg) {
        height: 310px;
        width: 180px;
        min-width: 180px;
        margin-right: 0;
      }

      @include respond(mobile-m) {
        height: 275px;
        width: 165px;
        min-width: 165px;
      }

      @include respond(mobile-s) {
        height: 250px;
        width: 155px;
        min-width: 155px;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 600px !important;
      padding-bottom: 10px;
      & .slider__title {
        font-size: 5.5rem;
        margin-bottom: 10px;

        @include respond(laptop) {
          font-size: 5.2rem !important;
        }

        @include respond(tab-land) {
          font-size: 4.8rem !important;
        }

        @include respond(tab-port) {
          font-size: 4.5rem !important;
          text-align: center;
        }
        @include respond(mobile-lg) {
          font-size: 4rem !important;
          margin-bottom: 0;
          margin-top: 1.5rem;
        }

        @include respond(mobile-m) {
          font-size: 3rem !important;
        }

        @include respond(mobile-s) {
          font-size: 2.5rem !important;
        }
      }

      @include respond(tab-port) {
        align-items: center;
        width: 100% !important;

        & .btn--favorite {
          position: absolute;
          top: -10px;
          right: 0;
        }
      }
    }

    &__rating {
      @include respond(tab-port) {
        position: absolute;
        top: 0;
        left: 65%;
        height: 65px;
        width: 65px;
        border-radius: 100%;
        background-color: rgba(var(--primary-color), 1);
        box-shadow: var(--elevation-5);
        p {
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgba(var(--primary-text-color), 1);
          height: 100%;
          width: 100%;
          text-align: center;
          font-size: 2.8rem;
        }
        span {
          display: none;
        }

        @include respond(mobile-lg) {
          height: 60px;
          width: 60px;

          p {
            font-size: 2.5rem;
          }
        }

        @include respond(mobile-m) {
          height: 50px;
          width: 50px;

          p {
            font-size: 2.2rem;
          }
        }
      }
    }

    &__list {
      display: flex;
      list-style: none;
      flex-wrap: wrap;

      li:not(:last-child) {
        margin-right: 10px;
      }
      @include respond(tab-port) {
        margin-top: 1rem;
        align-items: flex-start;
        justify-content: center;
        width: 100%;

        & > * {
          margin-bottom: 0.5rem;
        }
      }
    }

    &__critic {
      display: flex;
      list-style: none;
      color: rgba(var(--color-white), 1);
      align-items: flex-end;

      li {
        &:not(:last-child) {
          margin-right: 20px;

          @include respond(tab-port) {
            margin-right: 15px;
          }
        }

        @include respond(mobile-lg) {
          text-align: center;
        }
      }
    }

    &__critic-item {
      display: flex;
      align-items: center;
      margin-bottom: 6px;
      img {
        display: block;
        height: 28px;

        @include respond(mobile-lg) {
          height: 25px;
        }
      }
      p {
        font-size: 16px;
        margin-left: 8px;

        @include respond(tab-port) {
          font-size: 14px;
        }
      }
    }
  }
  &--secondary {
    --primary: 52, 113, 190;
    --secondary: 98, 55, 83;
    --text-color: 255, 255, 255;
    position: relative;
    height: 45vh;
    width: 100%;
    padding-top: var(--navbar-height);
    background-color: #000;
    font-size: 2.5rem;

    @include respond(tab-port) {
      height: auto;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        to right,
        rgba(var(--primary), 0.7),
        rgba(var(--secondary), 0.7)
      );
    }

    &__cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 45vh;
      user-select: none;
      overflow: hidden;
      img {
        filter: blur(3px);
      }

      @include respond(tab-port) {
        height: 100%;
      }
    }

    &__content {
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      width: 65%;
      height: 30vh;
      z-index: 4;

      @include respond(laptop) {
        width: 90%;
      }

      @include respond(tab-port) {
        height: auto;
        padding: 15px 0;
      }

      @include respond(mobile-lg) {
        align-items: center;
        width: 100%;
      }

      @include respond(mobile-m) {
        flex-direction: column;
        justify-content: center;
      }
    }
    &__poster {
      display: block;
      height: 260px;
      width: 175px;
      min-width: 175px;
      z-index: -1;
      margin-bottom: -90px;
      border-radius: 20px;
      overflow: hidden;
      user-select: none;
      box-shadow: var(--elevation-24);
      margin-right: 30px;

      @include respond(tab-port) {
        margin-right: 20px;
        margin-left: 10px;
        margin-bottom: 0;
        height: 230px;
        width: 150px;
        min-width: 150px;
      }
    }

    &__title {
      font-size: 4.5rem;
      color: rgba(var(--text-color), 1);
      text-shadow: 0 10px 30px rgba(var(--color-dark), 0.5);

      @include respond(tab-port) {
        font-size: 4rem;
      }

      @include respond(mobile-lg) {
        font-size: 3.5rem;
      }

      @include respond(mobile-m) {
        text-align: center;
        font-size: 2.8rem;
        margin-top: 2rem;
      }
    }

    &__year {
      font-size: 2.5rem;
      color: rgba(var(--text-color), 0.9);
      margin-top: 5px;

      @include respond(tab-port) {
        font-size: 2.2rem;
      }

      @include respond(mobile-m) {
        text-align: center;
        font-size: 1.8rem;
      }
    }
  }
}
