@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("~assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "Montserrat";
//   src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"),
//     url("~assets/fonts/Montserrat-MediumItalic.ttf") format("truetype");
//   font-weight: 500;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Montserrat";
//   src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
//     url("~assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("~assets/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("~assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "Open Sans";
//   src: local("Open Sans Light"), local("OpenSans-Light"),
//     url("~assets/fonts/OpenSans-Light.ttf") format("truetype");
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("~assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "Montserrat";
//   src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"),
//     url("~assets/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
//   font-weight: 600;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Open Sans";
//   src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"),
//     url("~assets/fonts/OpenSans-LightItalic.ttf") format("truetype");
//   font-weight: 300;
//   font-style: italic;
//   font-display: swap;
// }

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("~assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("~assets/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Medium"), local("OpenSans-Medium"),
    url("~assets/fonts/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
