//  * Pagination
.pagination {
  display: flex;
  list-style: none;
  &__item,
  &__navigation {
    font: inherit;
    outline: none;
    font-size: 1.6rem;
    font-weight: 400;
    height: 45px;
    min-width: 45px;
    border-radius: 5px;
    background-color: rgba(var(--secondary-color), 1);
    color: rgba(var(--secondary-text-color), 1);
    box-shadow: var(--elevation-10);
    border: 1px solid rgba(var(--secondary-text-color), 0.1);
    @include transition;

    @include respond(mobile-lg) {
      height: 40px;
      min-width: 40px;
      font-size: 1.5rem;
    }

    @include respond(mobile-m) {
      height: 32px;
      min-width: 32px;
      font-size: 1.35rem;

      &:not(:last-child) {
        margin-right: 5px !important;
      }
    }

    &:hover {
      background-color: rgba(var(--primary-color), 0.7);
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      outline: none;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__item--active {
    background-color: rgba(var(--primary-color), 1) !important;
    color: rgba(var(--primary-text-color), 1) !important;

    &:hover {
      background-color: rgba(var(--primary-color), 1) !important;
    }
  }

  &__break {
    border: none;
    background: transparent !important;
    box-shadow: none;
    min-width: auto !important;
    padding: 0 4px;
    &:hover {
      background: transparent;
    }
  }

  &__more {
    font-size: 1.8rem;
    color: rgba(var(--secondary-text-color), 0.6) !important;
    user-select: none;
  }

  &__navigation {
    i {
      color: rgba(var(--secondary-text-color), 1) !important;
    }
  }

  &__top {
    margin-left: 0;
    justify-content: flex-start;
  }
}
