//  * Theme
.theme--dark {
  background-color: rgba(var(--secondary-color), 1) !important ;
  color: rgba(var(--secondary-text-color), 1) !important;
}

// *Selects
.search__selects {
  .v-label {
    font-size: 1.4rem !important;
    display: block;
    color: rgba(var(--secondary-text-color), 0.7) !important;
    margin-top: -3px !important;
    margin-left: 1px !important;
  }
  .v-input--is-dirty .v-label {
    margin-left: -4px !important;
  }
  .v-input__slot {
    &::before,
    &::after {
      background-color: rgba(var(--primary-color), 0.6) !important;
      height: 2px !important;
    }
  }
  //v-input v-input--is-label-active v-input--is-dirty v-input--is-focused theme--light v-text-field v-text-field--is-booted v-select primary--text

  //v-input v-input--is-focused theme--light v-text-field v-text-field--is-booted v-select primary--text
  .v-select .v-select__selections {
    color: rgba(var(--secondary-text-color), 1) !important;
  }

  .v-input__icon {
    i {
      color: rgba(var(--secondary-text-color), 1) !important;
    }
  }

  .v-text-field.v-input--is-focused > .v-input__control > .v-input__slot:after {
    color: rgba(var(--primary-color), 1) !important;
    height: 2px !important;
  }
  .v-menu__content {
    top: 0 !important;
  }
}

//  * Menu List Item
.v-list-item {
  color: rgba(var(--secondary-text-color), 1) !important;
}
.v-list-item__title {
  font-size: 1.4rem !important;
}

.theme--dark.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color: rgba(var(--secondary-text-color), 1) !important;
}
.v-list-item--active {
  background-color: rgba(var(--primary-color), 1) !important ;
  font-weight: 600;
  color: rgba(var(--primary-text-color), 1) !important;
}

//  * Pagination
.v-pagination {
  &__item,
  &__navigation {
    font: inherit;
    font-size: 1.6rem !important;
    font-weight: 400;
    height: 45px !important;
    min-width: 45px !important;
    border-radius: 5px;
    background-color: rgba(var(--secondary-color), 1) !important;
    color: rgba(var(--secondary-text-color), 1) !important;
    box-shadow: var(--elevation-10);
    border: 1px solid rgba(var(--secondary-text-color), 0.1);
    @include transition;

    &:hover {
      background-color: rgba(var(--primary-color), 0.7) !important;
    }
  }

  &__item--active {
    background-color: rgba(var(--primary-color), 1) !important;
    color: rgba(var(--primary-text-color), 1) !important;

    &:hover {
      background-color: rgba(var(--primary-color), 1) !important;
    }
  }

  &__more {
    font-size: 1.8rem;
    color: rgba(var(--secondary-text-color), 0.6) !important;
    user-select: none;
  }

  &__navigation {
    i {
      color: rgba(var(--secondary-text-color), 1) !important;
    }
  }

  &__top {
    margin-left: -10px;
    justify-content: flex-start;
  }
}
