.heading {
  &--primary {
    font-size: 3.5rem;
    letter-spacing: -1px;
    color: rgba(var(--base-text-color), 0.9);

    @include respond(mobile-lg) {
      font-size: 3rem;
    }

    @include respond(mobile-m) {
      font-size: 2.8rem;
    }

    @include respond(mobile-s) {
      font-size: 2.2rem;
    }
  }

  &--secondary {
    font-size: 1.7rem;
    font-family: var(--font-regular);
    font-weight: 700;
    opacity: 0.9;

    @include respond(mobile-lg) {
      font-size: 1.5rem;
    }
  }
}

.paragraph {
  &--primary {
    font-family: var(--font-regular);
    font-size: 1.7rem;
    line-height: 1.6;
    font-weight: 400;
    opacity: 1;

    @include respond(laptop) {
      font-size: 1.6rem;
    }

    @include respond(tab-port) {
      font-size: 1.5rem;
    }

    @include respond(mobile-m) {
      font-size: 1.4rem;
    }

    @include respond(mobile-m) {
      font-size: 1.3rem;
    }
  }
}
