.fit-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.shadow-overlay {
  &::after,
  &::before {
    opacity: 1;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    content: "";
    @include transition;
  }

  &::after {
    top: 0;
    z-index: 1;
    filter: blur(5px);
    background-image: linear-gradient(
      to right top,
      rgba(var(--color-dark), 0.4) 20%,
      rgba(var(--color-dark), 0)
    );
  }

  &::before {
    bottom: -1px;
    height: 30%;
    z-index: 3;
    background-image: linear-gradient(
      to top,
      rgba(var(--base-color), 1),
      rgba(var(--base-color), 0)
    );

    @include respond(mobile-lg) {
      bottom: -1%;
    }
  }
}

.backdrop-gradient {
  --first: #7f00ff;
  --second: #e100ff;
  position: relative;
  background: linear-gradient(to right, var(--first), var(--second));
  overflow: visible !important;

  img {
    position: relative;
    z-index: 2;
    border-radius: 20px;
  }

  &::after {
    display: block;
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    height: 100%;
    width: 150%;
    opacity: 0.6;
    border-radius: inherit;
    background: inherit;
    filter: blur(30px);
    @include transition;
  }
}

.place-end {
  display: flex;
  justify-content: flex-end;
}

.navbar-padding {
  padding-top: 8rem;

  @include respond(mobile-lg) {
    padding-top: 7rem;
  }

  @include respond(mobile-m) {
    padding-top: 6rem;
  }
}

.align-items-center {
  align-items: center;
}

img[lazy="loading"] {
  filter: blur(20px);
  @include transition;
}
img[lazy="error"] {
  /*your style here*/
}
img[lazy="loaded"] {
  opacity: 1;
  filter: blur(0);
  @include transition;
}

.support {
  overflow: hidden;
  &__explain {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
  }
  &__logo {
    height: 200px;
    margin-bottom: 3rem;
  }
  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    padding: 4rem 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #000;
    width: 70%;

    ul {
      display: flex;
      list-style: none;
    }

    li {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    a {
      img {
        height: 60px;
      }
    }
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    img {
      width: 100%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
