.fit-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.shadow-overlay {
  &::after,
  &::before {
    opacity: 1;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    content: "";
    @include transition;
  }

  &::after {
    top: 0;
    z-index: 1;
    filter: blur(5px);
    background-image: linear-gradient(
      to right top,
      rgba(var(--color-dark), 0.4) 20%,
      rgba(var(--color-dark), 0)
    );
  }

  &::before {
    bottom: -1px;
    height: 30%;
    z-index: 3;
    background-image: linear-gradient(
      to top,
      rgba(var(--base-color), 1),
      rgba(var(--base-color), 0)
    );
  }
}

.backdrop-gradient {
  --first: #7f00ff;
  --second: #e100ff;
  position: relative;
  background: linear-gradient(to right, var(--first), var(--second));
  overflow: visible !important;

  img {
    position: relative;
    z-index: 2;
    border-radius: 20px;
  }

  &::after {
    display: block;
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    height: 100%;
    width: 150%;
    opacity: 0.6;
    border-radius: inherit;
    background: inherit;
    filter: blur(30px);
    @include transition;
  }
}

.place-end {
  display: flex;
  justify-content: flex-end;
}

.navbar-padding {
  padding-top: 8rem;

  @include respond(mobile-lg) {
  }
}

.align-items-center {
  align-items: center;
}
