@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500i,600,600i,700,800|Open+Sans:300,300i,400,700&display=swap');

:root {
	//Font
	--font-regular: 'Open Sans', sans-serif;
	--font-heading: 'Montserrat', sans-serif;

	//Componet Sizes
	--navbar-height: 70px;

	//Color, Background, Shadow
	--base-color: 18, 18, 18;
	--base-text-color: 255, 255, 255;

	--primary-color: 29, 247, 247;
	--primary-text-color: 0, 0, 0;

	--secondary-color: 16, 16, 16;
	--secondary-text-color: 255, 255, 255;

	--color-red: 255, 46, 77;
	--color-white: 255, 255, 255;
	--color-yellow: 255, 215, 0;

	--depth-color-upper: rgba(0, 0, 0, 0.2);
	--depth-color-lower: rgba(0, 0, 0, 0.14);
	--depth-color-base: rgba(0, 0, 0, 0.12);

	--elevation-0: none !important;
	--elevation-1: 0px 2px 1px -1px var(--depth-color-upper),
		0px 1px 1px 0px var(--depth-color-lower),
		0px 1px 3px 0px var(--depth-color-base);

	--elevation-2: 0px 3px 1px -2px var(--depth-color-upper),
		0px 2px 2px 0px var(--depth-color-lower),
		0px 1px 5px 0px var(--depth-color-base);

	--elevation-3: 0px 3px 3px -2px var(--depth-color-upper),
		0px 3px 4px 0px var(--depth-color-lower),
		0px 1px 8px 0px var(--depth-color-base);

	--elevation-4: 0px 2px 4px -1px var(--depth-color-upper),
		0px 4px 5px 0px var(--depth-color-lower),
		0px 1px 10px 0px var(--depth-color-base);

	--elevation-5: 0px 3px 5px -1px var(--depth-color-upper),
		0px 5px 8px 0px var(--depth-color-lower),
		0px 1px 14px 0px var(--depth-color-base);

	--elevation-6: 0px 3px 5px -1px var(--depth-color-upper),
		0px 6px 10px 0px var(--depth-color-lower),
		0px 1px 18px 0px var(--depth-color-base);

	--elevation-7: 0px 4px 5px -2px var(--depth-color-upper),
		0px 7px 10px 1px var(--depth-color-lower),
		0px 2px 16px 1px var(--depth-color-base);

	--elevation-8: 0px 5px 5px -3px var(--depth-color-upper),
		0px 8px 10px 1px var(--depth-color-lower),
		0px 3px 14px 2px var(--depth-color-base);

	--elevation-9: 0px 5px 6px -3px var(--depth-color-upper),
		0px 9px 12px 1px var(--depth-color-lower),
		0px 3px 16px 2px var(--depth-color-base);

	--elevation-10: 0px 6px 6px -4px var(--depth-color-upper),
		0px 10px 14px 1px var(--depth-color-lower),
		0px 4px 18px 3px var(--depth-color-base);

	--elevation-11: 0px 6px 7px -4px var(--depth-color-upper),
		0px 11px 15px 1px var(--depth-color-lower),
		0px 4px 20px 3px var(--depth-color-base);

	--elevation-12: 0px 7px 8px -4px var(--depth-color-upper),
		0px 12px 17px 2px var(--depth-color-lower),
		0px 5px 22px 4px var(--depth-color-base);

	--elevation-13: 0px 7px 8px -4px var(--depth-color-upper),
		0px 13px 19px 2px var(--depth-color-lower),
		0px 5px 24px 4px var(--depth-color-base);

	--elevation-14: 0px 7px 9px -5px var(--depth-color-upper),
		0px 14px 21px 2px var(--depth-color-lower),
		0px 5px 26px 4px var(--depth-color-base);

	--elevation-15: 0px 8px 9px -5px var(--depth-color-upper),
		0px 15px 22px 2px var(--depth-color-lower),
		0px 6px 28px 5px var(--depth-color-base);

	--elevation-16: 0px 8px 10px -5px var(--depth-color-upper),
		0px 16px 24px 2px var(--depth-color-lower),
		0px 6px 30px 5px var(--depth-color-base);

	--elevation-17: 0px 8px 11px -5px var(--depth-color-upper),
		0px 17px 26px 2px var(--depth-color-lower),
		0px 6px 32px 5px var(--depth-color-base);

	--elevation-18: 0px 9px 11px -6px var(--depth-color-upper),
		0px 18px 28px 2px var(--depth-color-lower),
		0px 7px 34px 6px var(--depth-color-base);

	--elevation-19: 0px 9px 12px -6px var(--depth-color-upper),
		0px 19px 29px 2px var(--depth-color-lower),
		0px 7px 36px 6px var(--depth-color-base);

	--elevation-20: 0px 10px 13px -6px var(--depth-color-upper),
		0px 20px 31px 3px var(--depth-color-lower),
		0px 8px 38px 7px var(--depth-color-base);

	--elevation-21: 0px 10px 13px -6px var(--depth-color-upper),
		0px 21px 33px 3px var(--depth-color-lower),
		0px 8px 40px 7px var(--depth-color-base);

	--elevation-22: 0px 10px 14px -7px var(--depth-color-upper),
		0px 22px 35px 3px var(--depth-color-lower),
		0px 8px 42px 7px var(--depth-color-base);

	--elevation-23: 0px 11px 14px -7px var(--depth-color-upper),
		0px 23px 36px 3px var(--depth-color-lower),
		0px 9px 44px 8px var(--depth-color-base);

	--elevation-24: 0px 11px 15px -7px var(--depth-color-upper),
		0px 24px 38px 3px var(--depth-color-lower),
		0px 9px 46px 8px var(--depth-color-base);
}
