.card {
  &--primary {
    // --box-shadow: var(--primary-color);
    position: relative;
    display: block;
    width: 97%;
    height: 330px;
    max-width: 250px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: var(--elevation-10);
    text-decoration: none;
    backface-visibility: hidden;
    @include transition;

    @include respond(mobile-lg) {
      height: 300px;
    }

    @include respond(mobile-m) {
      height: 280px;
    }

    @include respond(mobile-s) {
      height: 200px;
      width: 100%;
    }

    &:hover {
      box-shadow: 0 3px 20px rgba(var(--box-shadow), 0.3),
        0 -3px 20px rgba(var(--box-shadow), 0.3);
    }

    &:hover &__img {
      &::after {
        background-image: linear-gradient(
          to top right,
          rgba(var(--color-dark), 0.65),
          rgba(var(--color-dark), 0)
        );
      }
    }

    &:hover &__genre {
      height: auto;
    }
    &:hover .badge {
      opacity: 1;
    }

    .badge {
      @include transition;
      opacity: 0;
    }

    &__img {
      position: absolute;
      height: 100%;
      width: 100%;
      user-select: none;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      &::after {
        position: absolute;
        display: block;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include transition;
        background-image: linear-gradient(
          to top,
          rgba(var(--color-dark), 0.9),
          rgba(var(--color-dark), 0.1)
        );
      }
    }

    &__body {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      justify-content: flex-end;
      align-items: flex-start;
      z-index: 1;
      padding: 18px;
      color: rgba(var(--color-white), 1);

      @include respond(mobile-lg) {
        padding: 15px;
      }

      @include respond(mobile-s) {
        padding: 10px;
      }
    }

    &__genre {
      font-size: 1.5rem;
      color: rgba(var(--primary-color), 1);
      height: 18px;
      overflow: hidden;
      height: 0;
      margin-bottom: 3px;
      font-weight: 600;
      @include transition;
      transition: all 200ms ease;
      word-spacing: -1px;

      @include respond(mobile-lg) {
        font-size: 1.3rem;
      }

      span {
        &:not(:last-child) {
          &:after {
            content: "/";
          }
        }
      }
    }

    &__title {
      font-size: 2.4rem;
      margin-bottom: -2px;
      line-height: 1.1;

      @include respond(mobile-lg) {
        font-size: 2.1rem;
      }

      @include respond(mobile-m) {
        font-size: 1.8rem;
      }

      @include respond(mobile-s) {
        font-size: 1.6rem;
      }
    }

    &__date {
      font-size: 1.4rem;
      color: rgba(var(--color-white), 0.6);
      @include respond(mobile-lg) {
        font-size: 1.3rem;
      }

      @include respond(mobile-s) {
        font-size: 1.2rem;
      }
    }
  }

  &--secondary {
    display: block;
    // height: 200px;
    width: 100%;
    // cursor: pointer;

    &:hover &__img:after {
      opacity: 0.08;
    }

    &__img {
      display: block;
      position: relative;
      z-index: 2;
      border-radius: 5px;
      box-shadow: var(--elevation-10);
      user-select: none;
      height: 210px;

      @include respond(mobile-lg) {
        height: 150px;
      }

      @include respond(mobile-m) {
        height: 120px;
      }

      img {
        border-radius: 10px;
      }
    }

    &__content {
    }

    &__name {
      display: block;
      font-size: 13px;
      margin-top: 10px;
      text-decoration: none;
      font-weight: 700;
      font-family: var(--font-heading);
      color: rgba(var(--base-text-color), 0.9);
      text-align: left;

      @include respond(mobile-m) {
        font-size: 12px;
      }
    }

    &__film-name {
      font-size: 12px;
      color: rgba(var(--base-text-color), 0.8);
      margin-top: 3px;

      @include respond(mobile-m) {
        font-size: 10px;
      }
    }
  }

  &--gallery &__actions {
    height: 100% !important;
  }

  &--gallery {
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    @include transition;

    .card__actions {
      opacity: 0;

      @include respond(tab-land) {
        opacity: 1;
      }
      button {
        border-radius: 100%;
        border-color: rgba(var(--color-white), 1);

        &:hover {
          border-color: rgba(var(--primary-color), 1);

          svg {
            margin-bottom: -5px;
          }
        }
      }
    }

    &:hover {
      & .card__actions {
        opacity: 1;
        --hover-color: var(--primary-color);
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 1;
      @include transition;
    }
  }

  &--small {
    display: flex;
    align-items: center;
    padding: 10px 0;

    @include respond(mobile-lg) {
      flex-direction: column;
      align-items: flex-start;
    }
    &__image {
      display: block;
      height: 50px;
      min-height: 50px;
      width: 50px;
      min-width: 50px;
      border-radius: 100%;
      overflow: hidden;
      margin-right: 1rem;

      @include respond(mobile-lg) {
        height: 40px;
        min-height: 40px;
        width: 40px;
        min-width: 40px;
      }
    }

    &__description {
      a {
        text-decoration: none;
        color: rgba(var(--secondary-text-color), 0.8);
        font-size: 1.4rem;
        font-weight: 400;

        @include respond(mobile-lg) {
          display: block;
          margin-top: 10px;
          font-size: 1.3rem;
        }
      }
    }
  }

  &--review {
    background-color: rgba(var(--base-color), 1);
    color: rgba(var(--base-text-color), 1);
    box-shadow: var(--elevation-10);
    border-radius: 10px;
    overflow: hidden;
    & .paragraph--primary {
      font-size: 1.5rem;

      @include respond(mobile-lg) {
        font-size: 1.4rem;
      }

      @include respond(mobile-m) {
        font-size: 1.3rem;
      }
    }

    & .heading--secondary {
      font-size: 1.6rem;
    }

    &__content {
      padding: 24px 20px 15px 20px;

      @include respond(mobile-lg) {
        padding: 20px 18px 12px 18px;
      }

      @include respond(mobile-s) {
        padding: 18px 15px 12px 15px;
      }
    }

    &__user {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      margin-top: 10px;
      background-color: rgba(var(--secondary-color), 1);

      color: rgba(var(--base-text-color), 1);
    }
    &__user-name {
      font-size: 14px;
      margin-right: 20px;

      @include respond(mobile-lg) {
        font-size: 13px;
      }
    }

    &__user-profile {
      display: flex;
      flex-direction: column;
      margin-right: auto;
    }

    &__date {
      font-size: 10px;
      margin-top: 3px;
      opacity: 0.5;
      font-weight: 200;
    }
  }

  &--slider {
    position: relative;
    width: 100%;
    min-height: 130px;
    height: 130px;
    user-select: none;
    overflow: hidden;
    border-radius: 8px;
    left: 0;
    box-shadow: var(--elevation-5);
    cursor: pointer;
    @include transition;
    &:hover {
      &::after {
        opacity: 0;
      }
      & img {
        filter: grayscale(0);
      }
    }

    & img {
      filter: grayscale(80%);
    }

    &__description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      position: absolute;
      padding: 10px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;

      & .badge {
        font-size: 1.4rem;
      }
    }

    &__active {
      transform: scale(1.1);
      left: -16px;
      img {
        filter: grayscale(0);
      }
    }

    &:focus {
      outline: none !important;
    }
  }

  &--season {
    display: flex;
    align-items: center;
    background-color: rgba(var(--secondary-color), 1);
    color: rgba(var(--secondary-text-color), 1);
    box-shadow: var(--elevation-10);
    border-radius: 10px;
    padding: 15px;

    a {
      text-decoration: none !important;
    }

    &__poster {
      align-self: flex-start;
      overflow: hidden;
      border-radius: 10px;
      height: 200px;
      width: 135px;
      min-width: 135px;
      margin-right: 20px;

      @include respond(tab-port) {
        height: 185px;
        width: 130px;
        min-width: 130px;
        margin-right: 15px;
      }

      @include respond(mobile-lg) {
        height: 180px;
        width: 120px;
        min-width: 120px;
      }

      @include respond(mobile-s) {
        height: 160px;
        width: 110px;
        min-width: 110px;
      }
    }

    &__overview {
      font-size: 1.4rem;
      opacity: 0.9;
      padding-bottom: 20px;

      @include respond(tab-port) {
        font-size: 1.3rem;
      }

      @include respond(mobile-s) {
        display: none;
      }
    }

    &__episodes {
      font-weight: 400;
      opacity: 0.8;
      font-size: 1.4rem;

      @include respond(tab-port) {
        font-size: 1.3rem;
      }

      @include respond(mobile-lg) {
        font-size: 1.2rem;
      }
    }

    &__title {
      font-size: 3rem;
      margin-bottom: 5px;
      color: rgba(var(--secondary-text-color), 1);
      @include respond(tab-port) {
        font-size: 2.8rem;
      }

      @include respond(mobile-lg) {
        font-size: 2.4rem;
      }

      @include respond(mobile-m) {
        font-size: 2.1rem;
      }
      span {
        font-size: 2rem;
      }
    }
  }

  &--episode {
    display: flex;
    align-items: flex-start;
    background-color: rgba(var(--secondary-color), 1);
    color: rgba(var(--secondary-text-color), 1);
    box-shadow: var(--elevation-10);
    border-radius: 10px;
    padding: 15px;

    @include respond(mobile-lg) {
      flex-direction: column;
    }

    a {
      text-decoration: none !important;
    }

    &__poster {
      align-self: flex-start;
      overflow: hidden;
      border-radius: 10px;
      height: 150px;
      width: 260px;
      min-width: 260px;
      margin-right: 20px;

      @include respond(tab-port) {
        height: 130px;
        width: 240px;
        min-width: 240px;
      }

      @include respond(mobile-lg) {
        height: 170px;
        width: 100%;
        min-width: 100%;
        margin-bottom: 1.5rem;
      }

      @include respond(mobile-m) {
        height: 150px;
      }

      @include respond(mobile-s) {
        height: 140px;
      }
    }

    &__overview {
      font-size: 1.5rem;
      opacity: 0.9;

      @include respond(tab-port) {
        font-size: 1.4rem;
      }

      @include respond(mobile-m) {
        font-size: 1.2rem;
      }
    }

    &__episodes {
      font-weight: 400;
      opacity: 0.8;
      font-size: 1.4rem;

      @include respond(mobile-lg) {
        font-size: 1.3rem;
      }
    }

    &__title {
      display: inline-flex;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 2.5rem;

      @include respond(tab-port) {
        font-size: 2rem;
      }

      @include respond(mobile-m) {
        font-size: 1.8rem;
      }

      color: rgba(var(--secondary-text-color), 1);

      span {
        font-size: 1.4rem;
        color: rgba(var(--primary-text-color), 1);
        padding: 5px 8px;
        border-radius: 5px;
        margin-left: 10px;
        background-color: rgba(var(--primary-color), 1);
      }
    }
  }

  &__link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
  }

  &__actions {
    --hover-color: var(--color-red);
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    @include transition;

    @include respond(mobile-lg) {
      padding: 5px;
    }

    button,
    a {
      display: flex;
      cursor: pointer;
      height: 43px;
      width: 43px;
      align-items: center;
      justify-content: center;
      border: 3px solid transparent;
      @include transition;

      @include respond(tab-land) {
        height: 33px;
        width: 33px;
        border-width: 2px;
        svg {
          height: 24px;
        }
      }
      svg {
        fill: rgba(var(--color-white), 1);
        @include transition;
      }

      &:hover {
        svg {
          fill: rgba(var(--hover-color), 1);
        }
      }
    }
  }

  &--cover {
    --primary: var(--primary-color);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        to bottom,
        rgba(var(--primary), 0.3),
        rgba(var(--primary), 0)
      );
    }
  }
}

.card-liked {
  svg {
    fill: rgba(var(--color-red), 1) !important;
  }
}
