.modal {
  --primary: var(--secondary-color);
  --secondary: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  //   transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  z-index: 300;
  background-image: linear-gradient(
    to right,
    rgba(var(--primary), 0.7),
    rgba(var(--secondary), 0.7)
  );
}
