.navbar {
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;

    @include respond(tab-land) {
      height: 70px;
    }
    z-index: -1;
    background-image: linear-gradient(
      rgba(var(--secondary-color), 0.5),
      rgba(var(--secondary-color), 0)
    );
  }
  // * Index 100-Navbar
  &__nav {
    display: flex;
    height: 35px;
    height: var(--navbar-height);
    align-items: center;
    padding-top: 10px;

    @include respond(tab-land) {
      // padding-bottom: 10px;
    }

    @include respond(mobile-s) {
      padding-bottom: 0;
      padding-top: 0;
      height: 60px !important;
    }
  }

  &__brand {
    height: 50px;
    user-select: none;
    width: auto;

    @include respond(laptop) {
      height: 40px;
    }

    @include respond(tab-land) {
      margin-right: auto;
    }

    @include respond(mobile-m) {
      height: 35px;
    }

    @include respond(mobile-s) {
      height: 30px;
    }

    img {
      height: 100%;
      width: auto;
    }
  }
  &__list {
    list-style: none;
    height: 100%;
    margin-right: 2rem;
    margin-bottom: -1px;

    @include respond(tab-land) {
      display: none !important;
    }
  }

  &__item {
    height: 100%;
    &:not(:last-child) {
      margin-right: 0 !important;
    }
  }

  &__link {
    display: flex;
    height: 100%;
    align-items: center !important;
    padding: 0 15px !important;
    color: rgba(var(--secondary-text-color), 1);
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 600 !important;

    &::after {
      height: 3px !important;
    }

    @include respond(laptop) {
      font-size: 1.5rem !important;
    }
  }

  &__search {
    position: relative;
    display: flex;
    align-items: center;

    @include respond(tab-land) {
      width: 65%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    @include respond(mobile-m) {
      width: 65%;
    }
    @include respond(mobile-s) {
      width: 62%;
    }

    .btn {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 3rem;
      margin-right: 10px;

      @include respond(mobile-m) {
        width: 2.5rem;
      }
      svg {
        fill: rgba(var(--secondary-color), 0.6) !important;

        @include respond(mobile-m) {
          height: 2.5rem !important;
        }
      }

      &:hover {
        svg {
          fill: rgba(var(--secondary-color), 1) !important;
        }
      }
    }
  }

  &__mobile {
    display: none;
    @include respond(tab-land) {
      display: block;
    }
  }

  &__menu {
    margin-left: 20px;
    svg {
      fill: rgba(var(--secondary-text-color), 1);

      @include respond(mobile-lg) {
        display: block;
        height: 3.4rem !important;
      }

      @include respond(mobile-m) {
        height: 3.1px !important;
      }
    }
  }

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 199;
    background-color: rgba(var(--secondary-color), 0.5);
  }

  &__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    width: 300px;
    left: -320px;
    z-index: 500;
    background-color: rgba(var(--primary-color), 1);
    background-image: linear-gradient(
      to bottom right,
      rgba(var(--primary-color), 1),
      rgba(var(--secondary-color), 1)
    );
    box-shadow: var(--elevation-20);
    transition: all 300ms ease;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    @include respond(mobile-lg) {
      width: 60%;
      left: -101%;
    }
  }

  &__sidebar-item .nuxt-link-exact-active {
    background-color: rgba(var(--secondary-color), 0.8);
    color: rgba(var(--secondary-text-color), 1);
    width: 90%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: inset var(--elevation-2);
  }

  &__sidebar-show {
    left: 0;
  }

  &__sidebar-item {
    height: 60px;

    @include respond(mobile-lg) {
      height: 50px;
    }
  }

  &__sidebar &__link {
    font-size: 2rem !important;
    justify-content: flex-start;
    padding-left: 30px !important;

    @include respond(mobile-lg) {
      font-size: 1.6rem !important;
    }
  }

  &__sidebar &__brand {
    display: block;
    height: 60px !important;
    margin: 30px;

    @include respond(mobile-lg) {
      height: 50px !important;
    }
  }

  &__mode {
    @include respond(mobile-lg) {
      display: none;
    }
  }

  &--hidden {
    margin-top: -100px;
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(var(--base-color), 1);
    box-shadow: var(--elevation-5);
    border-bottom: 1px solid rgba(var(--base-text-color), 0.03);

    &::after {
      display: none;
    }

    & .inp--search {
      border-bottom-width: 2px !important;
      font-size: 16px;
      @include respond(mobile-s) {
        font-size: 14px;
      }
    }
  }

  &--fixed &__nav {
    padding-top: 0;
  }

  &--fixed &__list {
    margin-bottom: -11px;
  }

  &--fixed &__search {
    // margin-bottom: 10px;
  }
  &--fixed &__link {
    padding-bottom: 10px !important;
  }
  &--fixed .btn--icon {
    // margin-bottom: 10px;

    @include respond(tab-land) {
      margin-bottom: 0;
    }
  }
  &--fixed &__brand {
    height: 40px;

    @include respond(mobile-m) {
      height: 30px;
    }
  }
}

.navbar-preview {
  display: flex;
  height: 6rem;
  background-color: rgba(var(--secondary-color), 1);

  &__list {
    display: flex;
    height: 6rem;
    margin-left: 220px;
    list-style: none;

    @include respond(tab-port) {
      margin-left: 25px;
    }

    @include respond(mobile-lg) {
      margin-left: 0;
    }

    .nuxt-link-exact-active {
      color: rgba(var(--primary-color), 1) !important;
      &::after {
        bottom: 0;
      }
    }
  }
  &__item {
    display: block;
    height: 100%;

    &:not(:last-child) {
      margin-right: 10px;

      @include respond(mobile-lg) {
        margin-right: 0;
      }
    }

    @include respond(mobile-lg) {
      display: flex;
      flex: 1;
    }
  }
  &__link {
    position: relative;
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
    color: rgba(var(--secondary-text-color), 1);
    text-decoration: none;
    padding: 0 60px 0 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    @include transition;

    @include respond(tab-land) {
      padding: 0 45px 0 0;
    }

    @include respond(mobile-lg) {
      font-size: 1.6rem;
      padding: 0 0 0 0;
      text-align: center !important;
    }

    @include respond(mobile-m) {
      font-size: 1.4rem;
    }

    &:hover,
    &:focus {
      color: rgba(var(--primary-color), 0.8);
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -7px;
      left: 0;
      height: 4px;
      width: 100%;
      background-color: rgba(var(--primary-color), 1);
      @include transition;
    }
  }
}
