:root {
  --base-color: 255, 255, 255;
  --base-text-color: 0, 0, 0;

  --primary-color: 36, 150, 150;
  --primary-text-color: 255, 255, 255;
  /* color: rgb(238, 238, 238); */
  --secondary-color: 238, 238, 238;
  --secondary-text-color: 0, 0, 0;
}
