.people {
  &__previewer {
    width: 100%;
    height: 40vh;
    background-color: rgba(var(--secondary-color), 1);
  }

  &__poster {
    position: relative;
    height: 370px;
    width: 100%;
    bottom: -60%;
    border-radius: 20px;
    overflow: hidden;
  }

  &__header {
    display: flex;
    align-items: flex-end;
    height: 100%;
    height: 40vh;
  }

  &__title {
    font-size: 50px;
    color: rgba(var(--secondary-text-color), 1);
  }

  &__body {
    display: flex;
    height: 100%;
    align-items: flex-end;
    color: rgba(var(--secondary-text-color), 1);

    padding-bottom: 10px;
  }

  &__bio {
    color: rgba(var(--secondary-text-color), 0.8);
  }

  &__info {
    margin-top: -50px;
    padding: 120px 20px 40px 20px;
  }
}
