.person {
  &__previewer {
    width: 100%;
    height: 30vh;
    background-color: rgba(var(--secondary-color), 1);
  }

  &__poster {
    display: block;
    position: relative;
    height: 370px;
    width: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: -70px;
    z-index: 3;

    @include respond(laptop) {
      height: 320px;
      width: 100%;
      max-width: 250px;
    }

    @include respond(tab-land) {
      margin: 0 auto;
      height: 350px;
      width: 240px;
      margin-top: -100px;
    }

    @include respond(tab-port) {
      height: 300px;
      width: 200px;
    }

    @include respond(mobile-lg) {
      height: 280px;
      width: 190px;
      margin-top: -70px;
    }

    @include respond(mobile-s) {
      height: 240px;
      width: 160px;
    }
  }

  &__title {
    font-size: 5rem;
    color: rgba(var(--secondary-text-color), 1);

    @include respond(laptop) {
      font-size: 4rem;
    }

    @include respond(tab-land) {
      text-align: center;
    }

    @include respond(tab-port) {
      font-size: 3.5rem;
    }

    @include respond(mobile-lg) {
      font-size: 3.2rem;
    }

    @include respond(mobile-s) {
      font-size: 3rem;
    }
  }

  &__body {
    display: flex;
    height: 100%;
    align-items: flex-end;
    color: rgba(var(--secondary-text-color), 1);

    padding-bottom: 10px;
  }

  &__bio {
    color: rgba(var(--secondary-text-color), 0.8);

    @include respond(laptop) {
      font-size: 1.6rem;
    }

    @include respond(tab-land) {
      text-align: center;
    }
  }

  &__info {
    display: block;
    position: relative;
    color: rgba(var(--secondary-text-color), 0.8);

    & .heading--secondary {
      color: rgba(var(--secondary-text-color), 1);
    }
  }

  &__sub-info {
    position: relative;
    display: block;
    z-index: 3;
    padding: 0 20px 40px 20px;
  }
}
