.search {
  position: relative;
  background-size: cover;

  &__content {
    position: relative;
    z-index: 2;
  }

  &__backdrop {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    filter: blur(10px);
    @include transition;
  }

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--base-color), 0.8);
    z-index: 1;
  }

  &__toggle {
    height: 50px;
  }

  &__toggler {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    top: 0;
    height: 74px;
    align-items: flex-start;
    @include transition;
    transition-delay: 100ms;
  }

  &__toggler &__query {
    height: 37px;
    min-height: 37px;
    cursor: pointer;
    transform: scale(1) translateX(0);
    @include transition;
    transition-delay: 100ms;
  }

  &__toggler-chossen {
    top: -37px;
  }

  &__toggler-disabled {
    color: rgba(var(--secondary-text-color), 0.3) !important;
    transform: scale(0.8) translateX(-25px) !important;

    &:hover {
      color: rgba(var(--secondary-text-color), 0.8) !important;
    }
  }

  &__filter {
    // background-color: rgba(var(--secondary-color), 0.8);
    padding-top: 30px;
    @include transition;
    position: relative;
    z-index: 2;
  }

  &__sorter {
    justify-content: flex-end !important;
  }

  &__count {
    font-size: 1.8rem;
    font-weight: 400;
    color: rgba(var(--secondary-text-color), 0.6);
    margin-top: 5px;

    @include respond(mobile-lg) {
      font-size: 1.6rem;
    }
  }

  &__query {
    color: rgba(var(--primary-color), 1);
  }

  &__tab {
    margin-top: 3rem;
  }

  &__tab-item {
    font: var(--font-heading);
    font-size: 2.6rem;
    font-weight: 700;
    color: rgba(var(--base-text-color), 0.5);
    @include transition;

    span {
      font-size: 2.2rem;
      font-weight: 500;
      @include respond(mobile-lg) {
        font-size: 1.8rem;
      }

      @include respond(mobile-m) {
        font-size: 1.4rem;
      }

      @include respond(mobile-s) {
        font-size: 1.2rem;
      }
    }
    &:not(:last-child) {
      margin-right: 2rem;

      @include respond(mobile-lg) {
        margin-right: 1.5rem;
      }
    }

    @include respond(mobile-lg) {
      font-size: 2.2rem;
    }

    @include respond(mobile-m) {
      font-size: 1.8rem;
    }

    @include respond(mobile-s) {
      font-size: 1.6rem;
    }

    &:hover {
      color: rgba(var(--base-text-color), 0.8);
    }
  }

  &__tab-active {
    transform: scale(1.1);
    margin-left: 6px;
    color: rgba(var(--primary-color), 1);
    &:hover {
      color: rgba(var(--primary-color), 1);
    }
  }
}

.theme--dark {
  background-color: rgba(var(--secondary-color), 1) !important ;
  color: rgba(var(--secondary-text-color), 1) !important;
}
.v-list-item {
  color: rgba(var(--secondary-text-color), 1) !important;
}
.v-list-item__title {
  font-size: 1.4rem !important;
}

.theme--dark.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color: rgba(var(--secondary-text-color), 1) !important;
}
.v-list-item--active {
  background-color: rgba(var(--primary-color), 1) !important ;
  font-weight: 600;
  color: rgba(var(--primary-text-color), 1) !important;
}

.v-pagination {
  &__item,
  &__navigation {
    font: inherit;
    font-size: 1.6rem !important;
    font-weight: 400;
    height: 45px !important;
    min-width: 45px !important;
    border-radius: 5px;
    background-color: rgba(var(--secondary-color), 1) !important;
    color: rgba(var(--secondary-text-color), 1) !important;
    box-shadow: var(--elevation-10);
    border: 1px solid rgba(var(--secondary-text-color), 0.1);
    @include transition;

    @include respond(mobile-lg) {
      height: 40px !important;
      min-width: 40px !important;
      font-size: 1.4rem !important;
    }

    @include respond(mobile-m) {
      height: 35px !important;
      min-width: 35px !important;
      font-size: 1.3rem !important;
    }

    @include respond(mobile-s) {
      font-size: 1.2rem;
    }

    &:hover {
      background-color: rgba(var(--primary-color), 0.7) !important;
    }
  }

  &__item--active {
    background-color: rgba(var(--primary-color), 1) !important;
    color: rgba(var(--primary-text-color), 1) !important;

    &:hover {
      background-color: rgba(var(--primary-color), 1) !important;
    }
  }

  &__more {
    font-size: 1.8rem;
    color: rgba(var(--secondary-text-color), 0.6) !important;
    user-select: none;
  }

  &__navigation {
    i {
      color: rgba(var(--secondary-text-color), 1) !important;
    }
  }

  &__top {
    margin-left: -10px;
    justify-content: flex-start;
  }
}
