.movie {
	color: rgba(var(--base-text-color), 1);

	&__sidebar {
		background-color: rgba(var(--secondary-color), 1);
	}

	&__main {
		padding-right: 4rem;
	}

	&__info {
		padding: 1.5rem;
	}
	&__info-list {
		display: flex;
		flex-direction: column;
		list-style: none;

		p {
			font-size: 15px;
		}
	}

	&__collection {
		position: relative;
		overflow: hidden;
		height: 300px;
	}

	&__collection-image {
		--background-color: var(--color-red);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(var(--background-color), 0.5);
			z-index: 1;
		}
	}
	&__collection-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		position: relative;
		z-index: 2;
		height: 300px;
		color: rgba(var(--secondary-text-color), 1);

		p {
			font-weight: 500;
		}
	}

	&__collection-header {
		font-size: 3rem;
		color: rgba(var(--secondary-text-color), 1);
	}
}
